/*============
font-family: 'Poppins', sans-serif;
=============*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
  
}


/*=========================================*/
/*========Start Create Account Sectio=======*/
/*=========================================*/

.main-create-accoutn-area{}
.form-area {
	padding: 92px 10%;
}
.form-area .form-heading-text{
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.form-area .mian-form{}
.form-area .mian-form .form-group{
    margin-bottom: 80px;
}
.form-area .mian-form .form-group .label-text{
    color: #000;

/* testo-base */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
display: block;
}
.form-area .mian-form .form-group .input-box {
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	background: none;
	border-radius: 20px;
	border: 1px solid #7F78E0;
	padding: 15px 42px;
	width: 100%;
}



.form-area .mian-form  .flex-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-area .mian-form  .flex-box .agree {
    margin: 0 !important;
    padding: 0 !important;
}
.form-area .mian-form  .flex-box .agree .check-box{
    height: 24px; 
    width: 24px;
    margin-right: 24px;
}
.form-area .mian-form  .flex-box .agree .label-text{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 62.5% */
margin: 0;;
}



.form-area .mian-form .form-group .submit-button{
    margin: 15px 0px;
}



.form-area .mian-form .previous-account{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-area .mian-form .previous-account .previous-text{
    color: #000;

/* testo-base */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form-area .mian-form .previous-account .login-here{
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.bg-area{
    background: url(../images/bg-01.png)no-repeat scroll 0 0 / 100% 92%;
}
.bg-area .bg-imgage{
    height: 100%;
    width: 100%;
}

.bonous-section{
    padding: 150px 10% 95px;
}
.bonous-section .bonous-text{
    color: #000;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}
.bonous-section .email-box{
    color: #000;
border: none;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
border-radius: 40px;
background: var(--5, #FFDFEB);
padding: 10px;
width: 100%;
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .form-area {
        padding: 92px 8%;
    }
    .bonous-section {
        padding: 150px 8% 95px;
    }
    .bonous-section .bonous-text {
       
        font-size: 26px;
       
    }
}
@media all and (max-width:991px) {
    .form-area {
        padding: 50px 6%;
    }

    .bonous-section .bonous-text {
       
        font-size: 21px;
      
    }
    .bonous-section {
        padding: 20px 6% 40px;
    }
    .form-area .mian-form .form-group {
        margin-bottom: 40px;
    }
    .form-area .form-heading-text {
       
        font-size: 34px;
        margin-bottom: 20px;
      
    }
    .bg-area {
        background: url(../images/bg-01.png)no-repeat scroll 0 0 / 100% 94%;
    }
    .form-area .mian-form .form-group .label-text {
       
        font-size: 18px;
       
        margin-bottom: 8px;
     
    }
}

@media all and (max-width:400px) {
    .form-area .form-heading-text {
        font-size: 27px;
        margin-bottom: 20px;
    }
    .form-area .mian-form .form-group .label-text {
        font-size: 15px;
        margin-bottom: 8px;
    }
    .form-area .mian-form .flex-box .agree .label-text {
       
        font-size: 14px;
       
        line-height: 17px;
       
    }
    .form-area .mian-form .previous-account .previous-text {
      
        font-size: 16px;
      
    }
    .form-area .mian-form .previous-account .login-here {
       
        font-size: 16px;
      
    }
    .bonous-section .bonous-text {
        font-size: 17px;
    }
}





/* -------------------------------------------------------------- */
/* ------------------------- PAGE-02 START ---------------------- */
/* -------------------------------------------------------------- */
.wapper{
    background: url(../images/bg-02.png)no-repeat scroll 0 0 / 100% 100%;
}
/*=========================================*/
/*========Start Main Product Sectio=======*/
/*=========================================*/

.mian-product-section{
    padding-top: 300px;
}
.product-image-area{}
.product-image-area .product-image{
    height: auto;
    width: 90%;
}

.product-details-area{
    padding-left: 2%;
}
.product-details-area .product-name{
    color: #000;

/* H1 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.product-details-area .produt-price-review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 0px;
}
.product-details-area .produt-price-review .product-price{
    margin-right: 15px;
}
.product-details-area .produt-price-review .product-price .price-text{
    color: var(--2, #7F78E0);

/* prezzo2 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.product-details-area .produt-price-review .product-price .price-text .euro-sign{

}
.product-details-area .produt-price-review .product-review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.product-details-area .produt-price-review .product-review .start{
    height: 20px;
    width: 20px;
    margin-right: 7px;
}
.product-details-area .produt-price-review .product-review .review-count{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.product-details-area .product-details-text{
    color: var(--testi-colore, #35293B);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-details-area .cart-button-area{
    text-align: center;
    padding-top: 72px;
}
.product-details-area .add-to-cart{
    background: none;
    border: none;
    color: var(--bianco, #FFF);
text-align: center;

/* pulsanti */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 30px;
background: #7F78E0;
padding: 10px 30px;
}


@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .product-details-area .produt-price-review {
      
        padding: 15px 0px;
    }
    .product-details-area .product-name {
      
        font-size: 30px;
      
    }
    .product-details-area .product-details-text {
       
        font-size: 20px;
       
    }
    .product-details-area .produt-price-review .product-price .price-text {
       
        font-size: 28px;
       
    }
}

@media all and (max-width:991px) {
    .product-details-area .produt-price-review {
      
        padding: 7px 0px;
    }
    .product-details-area .product-name {
      
        font-size: 25px;
      
    }
    .product-details-area .product-details-text {
       
        font-size: 16px;
        text-align: justify;
       
    }
    .product-details-area .produt-price-review .product-price .price-text {
       
        font-size: 23px;
       
    }
    .product-image-area .product-image {
        height: auto;
        width: 98%;
    }
    .product-details-area .cart-button-area {
        text-align: center;
        padding-top: 25px;
    }

}


@media all and (max-width:767px) {

    .product-details-area {
        padding-left: 2%;
        padding: 30px 0px;
    }

}


@media all and (max-width:576px) {

    .product-details-area {

        padding: 30px 2%;
    }
}



/*=========================================*/
/*========Start Main Collapse Sectio=======*/
/*=========================================*/

.main-collapse-section{}

.collapse-button-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0px;
    flex-wrap: wrap;
}
.collapse-button-item{}
.collapse-button-item .collapse-button{
    border: none;
    background: none;
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 30px;
border: 1px solid var(--2, #7F78E0);
background: rgba(255, 255, 255, 0.00);
padding: 5px 10px;
width: 133px;
margin: 10px 10px;
}





